@use '../variables'
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')


#portfolio
  display: flex
  flex-wrap: wrap
  padding: 3rem
  gap: 3rem

  h1
    width: 100%
    font-size: 4rem
    font-weight: 700
    color: #dddbe2ff
    font-family: 'Poppins', sans-serif
    margin-bottom: 2.5rem
    letter-spacing: -0.04em
